*{
    background-color: linen;
}
h1{
    font-size:xx-large;
    color: rgb(122, 21, 21);
    background-color: darksalmon;
}
#bio{
    font-size: large;
    color: rgb(11, 12, 116);
}
#Ten{
    font-size: large;
    color: rgb(128, 36, 100);
}
h3{
    color: rgb(182, 42, 42);
}
img{
    width: 400px;
    height: 300px;
}